.main{
    padding: 15px;
    font-size: 50px;
    color: rgb(59, 59, 59);
    font-family: "lemonmilk",sans-serif;
}

.body{
    background-attachment: fixed;
}

.outer-circle{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(74, 74, 74);
    border-radius: 250px;
    margin-top: -500px;
    margin-left: -145px;
    
    
}
.left-item1{
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 10px;
}
.inner-circle{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 250px;
    border: 10px solid rgb(74, 74, 74);
    margin-top: -370px;
    margin-left: -100px;

}

.photo{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    margin-top:25px;
    margin-left: 25px;
    
}

.upper-section{
    background-color: rgb(123, 161, 185);
    margin-left: 500px;
    height: 70px;
    width: 760px;
    margin-top: -170px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.middle-section{
    background-color: rgb(6, 66, 135);
    margin-left: 500px;
    height: 500px;
    width: 700px;
    margin-top: 20px;
    padding: 30px;
    font-size: 50px;
    color: white;
    font-family: "lemonmilk",sans-serif;
    border-radius: 35px;
}

@font-face {
    font-family: "lemonmilk";
    src: url(Fonts/lemon_milk/LEMONMILK-Bold.otf);
}

.lower-section{
    background-color: rgb(123, 161, 185);
    margin-left: 500px;
    height: 80px;
    width: 760px;
    margin-top:20px ;
    margin-bottom: -100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.side-bar{
    background-color: rgb(6, 66, 135);
    margin-left: 1300px;
    height: 685px;
    margin-top:-750px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width: 150px;
    padding: 25px;
    font-size: 40px;
    color: white;
    font-family: "lemonmilk",sans-serif;
}

.inner-inner-circle{
    height: 250px;
    width: 250px;
    border: solid rgb(83, 83, 83) 10px;
    border-radius: 260px;
    margin-left: 16px;
    margin-top: -273px;
}

.upper-card{
    height: 50px;
    border-radius: 25px;
    
    width: 200px;
    background-color: black;

}

