.body{
    background-attachment: fixed;
}

.upper-section{
    background-color: rgb(123, 161, 185);
    margin-left: 500px;
    height: 400px;
    width: 700px;
    margin-top:-370px ;
    border-radius: 25px;
}

.middle-section{
    background-color: rgb(6, 66, 135);
    margin-left: 500px;
    height: 600px;
    width: 700px;
    margin-top: 20px;
    border-radius: 25px;
}

.lower-section{
    background-color: rgb(123, 161, 185);
    margin-left: 500px;
    height: 40px;
    width: 700px;
    margin-top:20px ;
    margin-bottom: -100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.side-bar{
    background-color: rgb(6, 66, 135);
    margin-left: 1300px;
    height: 720px;
    margin-top:-720px;
    border-radius: 25px;
    width: 275px;
}